<div class="container-org-details mobile-container">
  <h2>
    {{user.username}}</h2>
  <div class="details-bg-image">
    <img src="https://www.brookings.edu/wp-content/uploads/2017/04/venezuela_protest_flag001-e1491425661760.jpg" alt="">
  </div>

  <div class="org-types">
    {{#each user.categories}}
    <a href="/org?category={{this}}">
      <img src="/images/{{this}}.svg" /> {{/each}}
    </a>
  </div>


  <div class="description-card">
    <h4>Description: </h4>
    <p>{{user.description}}</p>
  </div>

  <div class="contact-info">

    <h4>Contact details</h4>
    <hr>
    <p>Mail: {{user.mail}}</p>

    {{#if user.phone}}
    <p>Phone: {{user.phone}}</p>
    {{/if}}
    <div class="social-media">
      {{#if user.facebook}}
      <p>Facebook: {{user.facebook}}</p>
      {{/if}} {{#if user.instagram}}
      <p>Instagram: {{user.instagram}}</p>
      {{/if}} {{#if user.twitter}}
      <p>Twitter: {{user.twitter}}</p>
      {{/if}} {{#if userEdit}}
      <a href="/profile/edit">Edit</a>
      {{/if}}
      <div class="webpage-link">
        <a href="{{user.website}}" target="_blank">
          <button>Webpage</button>
        </a>
      </div>
    </div>
  </div>
</div>