{{#if category}}
<section class="header-category-org-list">
    <div>
        <img src="/images/{{category}}.svg" alt="">
    </div>
    <h1>{{category}}</h1>
</section>
{{/if}} {{#unless category}}
<section class="header-category-org-list">
    <div>
        <img src="/images/food.svg" alt="">
    </div>
    <div>
        <img src="/images/education.svg" alt="">
    </div>
    <div>
        <img src="/images/medicine.svg" alt="">
    </div>
    <h1>All categories</h1>
</section>
{{/unless}}
<div class="all-org-list">
    {{#each users}} {{#if this.isActive}}
    <div class="detail-card">
        <img src="{{user.imageUrl}}" alt="">
        <div class="org-description">
            <h2>{{this.username}}</h2>
            <p>{{this.description}}</p>
            <a href="org/{{this._id}}">
                <button>
                    See more
                </button>
            </a>
        </div>
    </div>
    {{/if}} {{/each}}
</div>