<h1>Organisation details</h1>

<div>
    <div> 
      <h2>{{user.username}}</h2>
      <p>{{user.description}}</p>
      <h3>Phone: {{user.phone}}</h3>
      <h3>Mail: {{user.mail}}</h3>
      <h3>Facebook: {{user.facebook}}</h3>
      <a href="{{user.website}}" target="_blank"> click here to see the Web page</a>
    </div>
</div>
