<div class="container-org-details mobile-container">
  {{#if activeWarning}}
   <h3>Your account is not yet active</h3>
  {{/if}}
  <h2>{{user.username}}</h2>
  <div class="details-bg-image">
    <img src="https://contratar-seguro.com/wp-content/uploads/2017/09/seguro-viaje-venezuela.jpg" alt="">
  </div>

  <div class="org-types">
    {{#each user.categories}}
    <a href="/org?category={{this}}">
      <img src="/images/{{this}}.svg" /> {{/each}}
    </a>
  </div>


  <div class="description-card">
    <h4>Description </h4>
    <p>{{user.description}}</p>
  </div>

  <div class="contact-info">

    <h4>Contact details</h4>
    <hr>
    <div class="mail">
      <p>Mail: {{user.mail}}
      </p>
    </div>
    <div class="telephone">
      {{#if user.phone}}
      <p>Telephone: {{user.phone}}</p> {{/if}}
    </div>
    {{#if showEdit}}
    <a class="user-edit" target="_blank" href="/profile/edit">Edit page</a>
    {{/if}}
    <div class="webpage-link">
      {{#if user.website}}
      <a href="{{user.website}}" target="_blank">
        <button>Visit Webpage</button>
      </a>
    </div>
    {{/if}}
    <div class="social-media">
      <div class="facebook">
        {{#if user.facebook}}
        <a href="{{user.facebook}}">
          <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" alt="Facebook">
        </a>
        {{/if}}
      </div>
      <div class="instagram">
        {{#if user.instagram}}
        <a target="_blank" href="{{user.instagram}}">
          <img src="https://seeklogo.com/images/I/instagram-circle-logo-E285122AB7-seeklogo.com.png" alt="Instagram">
        </a>
        {{/if}}
      </div>
      <div class="twitter">
        {{#if user.twitter}}
        <a target="_blank" href="{{user.twitter}}">
          <img src="http://goinkscape.com/wp-content/uploads/2015/07/twitter-logo-final.png" alt="Twitter">
        </a>
        {{/if}}
      </div>
    </div>

  </div>
</div>