<div class="auth-container">
<form method="POST" action="/profile/edit" class="auth-form">
<h1>Edit Profile</h1>
  <div class="all-fields">
    <div class="edit-field">
      <div class="input">
        {{!-- <label>Organisation name</label> --}}
        <input type="text" name="username" value="{{this.username}}" placeholder="Username" />
      </div>
    </div>

    <div class="edit-field">
      <div class="input">
      {{!-- <label>Description</label> --}}
        <input type="text" name="description" value="{{this.description}}" placeholder="Description"/>
      </div>
    </div>

    <div class="edit-field">
      <div class="input">
      {{!-- <label>Phone number</label> --}}
        <input type="text" name="phone" value="{{this.phone}}" placeholder="Phone" />
      </div>
    </div>

    <div class="edit-field">
      <div class="input">
      {{!-- <label>Mail</label> --}}
        <input type="email" name="mail" value="{{this.mail}}" placeholder="Email"/>
      </div>
    </div>

    <div class="edit-field">
      <div class="input">
      {{!-- <label>Website</label> --}}
        <input type="text" name="website" value="{{this.website}}" placeholder="Website"/>
      </div>
    </div>
  </div>

  <div class="edit-field">
    <div>
      <p>Type of Organisation</p>
    </div>
    <div class="checkbox">
      <div>
        <label>Medicine</label>
        <input type="checkbox" name="medicine" />
      </div>
      <div>
        <label>Food</label>
        <input type="checkbox" name="food" />
      </div>
      <div>
        <label>Education</label>
        <input type="checkbox" name="education" />
      </div>
    </div>
  </div>

  <div class="edit-field submit">
    <button type="submit">Save</button>
  </div>
</form>
</div>