<div class="edit-container home-background">

  <form method="POST" action="/profile/edit" class="edit-form">
    <h1>Edit Profile</h1>
    <img src="{{user.imgUrl}}" />
    <a href="/profile/edit/org-picture">change your picture</a>

    <div class="field">
      <label>Organisation name</label>
      <input type="text" name="username" value="{{#if previousData}}{{previousData.username}}{{else}}{{user.username}}{{/if}}"
        placeholder="The same as your username" />
    </div>

    <div class="field">
      <label>Description</label>
      <textarea name="description" placeholder="Write something about your organisation...">{{#if previousData}}{{previousData.description}}{{else}}{{user.description}}{{/if}}</textarea>
    </div>

    <div class="field">
      <label>Email</label>
      <input type="email" name="mail" value="{{#if previousData}}{{previousData.mail}}{{else}}{{user.mail}}{{/if}}" placeholder="e.g. myemail@email.com"
      />
    </div>

    <div class="field">
      <label>Phone number</label>
      <input type="text" name="phone" value="{{#if previousData}}{{previousData.phone}}{{else}}{{user.phone}}{{/if}}" placeholder="e.g. (00) 123 45 67"
      />
    </div>

    <div class="field">
      <label>Website</label>
      <input type="text" name="website" value="{{#if previousData}}{{previousData.website}}{{else}}{{user.website}}{{/if}}" placeholder="e.g. www.mywebsite.com"
      />
    </div>
    <div class="field">
      <label>Facebook</label>
      <input type="text" name="facebook" value="{{#if previousData}}{{previousData.facebook}}{{else}}{{user.facebook}}{{/if}}"
        placeholder="e.g. www.facebook.com/myorganisation" />
    </div>

    <div class="field">
      <label>Instagram</label>
      <input type="text" name="instagram" value="{{#if previousData}}{{previousData.instagram}}{{else}}{{user.instagram}}{{/if}}"
        placeholder="e.g. www.instagram.com/myorganisation" />
    </div>


    <div class="field">
      <label>Twitter</label>
      <input type="text" name="twitter" value="{{#if previousData}}{{previousData.twitter}}{{else}}{{user.twitter}}{{/if}}" placeholder="e.g. twitter.com/myorganisation"
      />
    </div>

    <div class="checkbox-container">
      <p>Type of Organisation</p>

      <div class="checkbox">
        <div>
          <label>Medicine</label>
          <input type="checkbox" name="medicine" {{#if hasCategoryMedicine}} checked {{/if}}/>
        </div>
        <div>
          <label>Food</label>
          <input type="checkbox" name="food" {{#if hasCategoryEducation}} checked {{/if}}/>
        </div>
        <div>
          <label>Education</label>
          <input type="checkbox" name="education" {{#if hasCategoryFood}} checked {{/if}}/>
        </div>
      </div>
    </div>

    <div class="submit">
      <button class="buttton-save" type="submit">Save</button>
      {{#if messages.length}}
      <div class="validation">
        {{#each messages}}{{this}}{{/each}}
      </div>
      {{/if}}
    </div>
  </form>
</div>