<h1>Edit Profile</h1>

<form method="POST" action="/profile/edit">
  <div class="all-fields">
    <div class="field">
      <div class="input">
        <label>Organisation name</label>
        <input type="text" name="username" value="{{this.username}}" />
      </div>
    </div>

    <div class="field">
      <div class="input">
      <label>Description</label>
        <input type="text" name="description" value="{{this.description}}" />
      </div>
    </div>

    <div class="field">
      <div class="input">
      <label>Phone number</label>
        <input type="text" name="phone" value="{{this.phone}}" />
      </div>
    </div>

    <div class="field">
      <div class="input">
      <label>Mail</label>
        <input type="email" name="mail" value="{{this.mail}}" />
      </div>
    </div>

    <div class="field">
      <div class="input">
      <label>Website</label>
        <input type="text" name="website" value="{{this.website}}" />
      </div>
    </div>
  </div>

  <div class="field checkbox">
    <p>Type of organisation</p>
    <label>Medicine</label>
    <input type="checkbox" name="medicine" />
    <label>Food</label>
    <input type="checkbox" name="food" />
    <label>Education</label>
    <input type="checkbox" name="education" />
  </div>



  <div class="field submit">
    <button type="submit">Save</button>
  </div>
</form>